.Button {
    height: 50px;
    width: 80px;
    font-size: 15px;
    background-color: #db1414;
}

.Button:hover {
    background-color: #ee9b9b;
}

.Button:active {
    background-color: #ee9b9b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(210, 31, 31, 0.25);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: #127542;
}

.expense-item__description {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
    padding-bottom: 2rem;
    padding-right: 2rem;
    font-size: 25px;
}

.expense-item h2 {
    color: #a49f9f;
    font-size: 15rem;
    flex: 1;
    margin: 0 1rem;
    color: rgb(255, 255, 255);
}

.expense-item__price {
    font-size: 10rem;
    font-weight: bold;
    color: black;
    background-color: #db1414;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 12px;

}

@media (min-width: 580px) {
    .expense-item__description {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }

    .expense-item__description h2 {
        font-size: 1.25rem;
    }

    .expense-item__price {
        font-size: 1.00rem;
        padding: 0.5rem 1.5rem;
    }
}